//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^https://walentyna14.github.io/Block22/index.html[nc]
RewriteRule ^(.*)$ http://www.https://walentyna14.github.io/Block22/index.html/$1 [r=301,nc]

//Caching schema
<FilesMatch "\.(css|js|png|img|pdf|)$">
Header set Cache-Control "max-age=691200"
</FilesMatch>
 
